// Header
$header-bg-color: #000;

// Main colors
$main-orange-color: #ff8b38;
$main-dark-color: #333333;

// Title
$title-color: #212121;

// Subtitles
$subtitles-color: #333333;

// Background colors
$silver-bg: #f5f5f5;
$price-bg: #333333;